terraform.*
.terraform/*
.terraform.*
.DS_Store
microservices/project/db-data/*
microservices/project/db/data/*
microservices/fruits-service/cmd/api/venv/*
microservices/fruits-service/venv/*
microservices/fruits-service/cmd/fruitsAPI.egg-info/*
